#food-cover {
    margin-top: 40px;
    width: 100%;
}

#main-content {
    width: 700px;
    margin-top: 40px;
}

h2 {
    font-family: "仿宋";
    text-align: center;
}

#main-food {
    width: 100%;
}

h4 {
    font-family: "微软雅黑 Light";
}

h3 {
    font-family: "微软雅黑 Light";
}