<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
</head>
<body>
<div>
    <h1>新增食物</h1>

    <div id="add-food">
        <table>
            <tr>
                <td>美食名字</td>
                <td><input type="text" id="food-name" placeholder="食物名称"/></td>
            </tr>
            <tr>
                <td>美食所在城市</td>
                <td>
                    <select id="food-city">

                    </select>
                </td>
            </tr>
            <tr>
                <td>请上传图片</td>
                <td><input type="file" id="food-img"/></td>
            </tr>
            <tr>
                <td>
                    <button id="submit">提交</button>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
<script type="text/javascript" src="js/food/food.js"></script>
</html>