<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food</title>
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
</head>
<body>
<div>
    <h1>新增食物</h1>
    <div id="add-food" class="control-group">
        名称<input type="text" id="food-name" placeholder="食物名称"/><br/>
        城市<input type="text" id="food-city" placeholder="食物所在城市"/><br/>
        描述<input type="textarea" id="food-desc"/><br/>
        图片<input type="file" id="food-img"/><br/>
        <button id="submit">提交</button>
    </div>
</div>

</body>
<script type="text/javascript" src="js/food/food.js"></script>
</html>