<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/showTravelNote.css}" rel="stylesheet">
</head>
<body>
<div id="all">
    <div style="float: right">
        <div id="avgScore"></div>
    </div>

    <div id="TnInfo">
        <div id="fengmian">
            <div id="title"></div>
        </div>
        <br/>
        <div>
            <div id="otherInfo" style="float: left"></div>
            <div id="collect">
                <img id="collectImg" width="18px" height="18px" src="http://localhost:8080/travel/images/local/collect_qian.png"/>收藏
            </div>
            <div id="collectid"></div>
        </div>
        <br/><br/><br/>
        <div id="time"></div>
    </div>
    <div id="border">
        <div id="content"></div>
        <div id="end">----The End----</div>
        <hr style="border:none;border-top:1px dashed #0066CC;">
        <div id="score" style="margin-bottom: 15px">
            <span style="margin-left: 140px; font-size: 8px;font-family: Arial">觉得我写的好就给我五星好评吧！</span>
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <label id="lab">0</label>分 &nbsp;<button id="submit">提交评分</button>
        </div>
    </div>
</div>
<div id="other">
    <span style="font-family: 'Comic Sans MS'; font-size: 25px">评论</span>
    <div>
        <textarea maxlength="500" id="details" rows="10" cols="115" style="resize: none" onkeyup="this.value=this.value.substring(0, 500)" placeholder="最多可输入500字"></textarea>
        <br/><button id="insert">发表评论</button>
    </div>
    <hr style="height:1px;border:none;border-top:1px solid grey;" />
    <div id="co">
        <div id="showComment"></div>
        <div id="hr"></div>
    </div>
</div>
<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/travelnote/showTravelNote.js}"></script>
</body>
</html>