<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/showTravelNote.css}" rel="stylesheet">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
    <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui-append.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
</head>
<body>
<div class="sui-navbar navbar-fixed-top">
    <div class="navbar-inner"><a href="http://localhost:8080/travel" class="sui-brand">NIIT</a>
        <ul class="sui-nav">
            <li class="active"><a href="http://localhost:8080/travel">首页</a></li>
            <li class="sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">城市<i
                    class="caret"></i></a>

                <ul role="menu" class="sui-dropdown-menu" id="city-nav">
                </ul>
            </li>
            <li><a href="http://localhost:8080/travel/tn/toalltravel">游记</a></li>
            <li><a href="http://localhost:8080/travel/food">美食</a></li>
        </ul>
        <ul id="islogin" class="sui-nav pull-right">
            <!--<li><a href="http://localhost:8080/travel/users/tologin">登录</a></li>-->
            <!--<li><a href="http://localhost:8080/travel/users/registeruser">注册</a></li>-->
        </ul>
    </div>
</div>
<div id="bo" style="background-color: rgba(27,38,135,0.09)">
<div id="all">
    <div style="float: right">
        <div id="avgScore"></div>
    </div>

    <div id="TnInfo">
        <div id="fengmian">
            <div id="title"></div>
        </div>
        <br/>
        <div>
            <div id="otherInfo" style="float: left"></div>
            <div id="collect">
                <img id="collectImg" width="18px" height="18px" src="http://localhost:8080/travel/images/local/collect_qian.png"/>收藏
            </div>
            <div id="collectid"></div>
        </div>
        <br/><br/><br/>
        <div id="time"></div>
    </div>
    <div id="border">
        <div id="content"></div>
        <div id="end">----The End----</div>
        <hr style="border:none;border-top:1px dashed #0066CC;">
        <div id="score" style="margin-bottom: 15px">
            <span style="margin-left: 380px; font-size: 8px;font-family: Arial">觉得我写的好就给我五星好评吧！</span>
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <img name="sco" src="http://localhost:8080/travel/images/local/greystar.png">
            <label id="lab">0</label>分 &nbsp;<button id="submit">提交评分</button>
        </div>
    </div>
</div>
<div id="other">
    <span style="font-family: 'Comic Sans MS'; font-size: 25px">评论</span>
    <div>
        <textarea maxlength="500" id="details" rows="10" cols="153" style="resize: none" onkeyup="this.value=this.value.substring(0, 500)" placeholder="最多可输入500字"></textarea>
        <br/><button id="insert">发表评论</button>
    </div>
    <hr style="height:1px;border:none;border-top:1px solid grey;" />
    <div id="co">
        <div id="showComment"></div>
        <div id="hr"></div>
    </div>
</div>
</div>
<div class="sui-footer">
    <hr/>
    <div class="sui-container" style="width:110px">
        <h5 id="about_us" style="display: inline;cursor: pointer">关于我们</h5>
        <h5 id="contact_us" style="display: inline;cursor: pointer">联系我们</h5>
    </div>
    <h5 style="text-align: center">© NIIT Travel, Inc.</h5>
    <hr/>
</div>
<script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/travelnote/showTravelNote.js}"></script>
<script type="text/javascript" th:src="@{/js/nav.js}"></script>
</body>
</html>