<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/UserInfo.css}" rel="stylesheet">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
    <!--<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">-->
    <!--<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui-append.min.css" rel="stylesheet">-->
    <script type="text/javascript" src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
</head>
<body>
<!--<div class="sui-navbar navbar-fixed-top">-->
    <!--<div class="navbar-inner"><a href="http://localhost:8080/travel" class="sui-brand">NIIT</a>-->
        <!--<ul class="sui-nav">-->
            <!--<li class="active"><a href="http://localhost:8080/travel">首页</a></li>-->
            <!--<li class="sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">城市<i-->
                    <!--class="caret"></i></a>-->

                <!--<ul role="menu" class="sui-dropdown-menu" id="city-nav">-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">游记</a></li>-->
            <!--<li><a href="http://localhost:8080/travel/food">美食</a></li>-->
        <!--</ul>-->
        <!--<ul class="sui-nav pull-right">-->
            <!--<li><a href="http://localhost:8080/travel/users/tologin">登录</a></li>-->
            <!--<li><a href="http://localhost:8080/travel/users/registeruser">注册</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<div id="all">
    <div id="top-panell">
        <div id="user-icon">
            <span id="open_btn"></span>
            <div id="altericon">
                <div id="backgroundd" class="back">
                    <div id="div1" class="content">
                        <div id="close">
                            <span id="close-button">×</span>
                            <h4>修改头像</h4>
                        </div>

                        <div id="div2">
                            <div id="select">
                                <span id="upload-select">上传头像</span>
                                <span id="history-select">选择历史头像</span>
                            </div>
                            <div id="history" style="display: none;">
                                <h3>历史头像</h3>
                                <div id="history-icon"></div>
                            </div>
                            <div id="upload">
                                <input type="file" id="user-alter-icon"/>
                            </div>
                        </div>
                        <h3 id="foot">
                            <div id="up-but"><button id="alter-icon">确定</button> </div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="user-name"></div>
        <div id="second">
            <table>
                <tr>
                    <td><b><a href="javascript:void(0);" id="travelnote" class="active">我的游记</a></b></td>
                    <td><b><a href="javascript:void(0);" id="mycollect">我的收藏</a></b></td>
                    <td><b><a href="javascript:void(0);" id="edit">管理中心</a></b></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="content-pane">
        <div id="userTravelNote">
            <div id="hasTn" style="display: none; text-align: center;">
                <div id="travelNoteTable"></div>
                <a href="/travel/test"><img width="100px" height="100px" style="margin-left: 430px" src="http://localhost:8080/travel/images/local/addtravelnote.png"/></a>
            </div>
            <div id="noTn">
                <p>您还没有写过游记..点击下方图片开始分享您的旅程吧！</p>
                <a href="/travel/test"><img src="http://localhost:8080/travel/images/local/addtravelnote.png"/></a>
            </div>
        </div>

        <div id="manage" style="display: none">
            <div id="manage-left">
                <table>
                    <tr><td><a href="javascript:void(0);" id="mage-info" class="active"><b>管理我的信息</b></a></td></tr>
                    <tr><td><a href="javascript:void(0);" id="mage-com"><b>管理我的评论</b></a></td></tr>
                    <tr><td><a href="javascript:void(0);" id="mage-score"><b>查看我的评分</b></a></td></tr>
                </table>
            </div>
            <div id="manage-right">
                <div id="userInfo">
                        <div id="userInfotable"></div>
                        <button id="submit">修改</button>
                </div>
                <!--<div id="userComment">-->
                    <!--<table>-->
                        <!--<tr>-->
                            <!--<td></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
                <div id="scoreNote" style="display: none"></div>
                <div id="showcomment" style="display: none"></div>
            </div>
        </div>

        <div id="collect" style="display: none">
            <div id="showcollect"></div>
        </div>
    </div>
</div>
<!--<div class="sui-footer">-->
    <!--<hr/>-->
    <!--<div class="sui-container" style="width:110px">-->
        <!--<h5 id="about_us" style="display: inline;cursor: pointer">关于我们</h5>-->
        <!--<h5 id="contact_us" style="display: inline;cursor: pointer">联系我们</h5>-->
    <!--</div>-->
    <!--<h5 style="text-align: center">© NIIT Travel, Inc.</h5>-->
    <!--<hr/>-->
<!--</div>-->
</body>
<script type="text/javascript" th:src="@{/jquery-1.10.0.js}"></script>
<script type="text/javascript" th:src="@{/js/user/UserInfo.js}"></script>
<script type="text/javascript" th:src="@{/js/nav.js}"></script>
<!--修改头像弹窗-->
<script>
        var btn = document.getElementById('open_btn');
        var div = document.getElementById('background');
        var close = document.getElementById('close-button');
        var his=document.getElementById('history-select');
        var upload=document.getElementById('upload-select');
        var up=document.getElementById('upload');
        var h=document.getElementById('history');
        var ubut=document.getElementById('up-but');

        his.onclick=function s(){
            up.style.display="none";
            h.style.display="block";
            ubut.style.display="none";
        }

        upload.onclick=function q(){
            up.style.display="block";
            h.style.display="none";
            ubut.style.display="block";
        }

        btn.onclick = function show() {
            div.style.display = "block";
        }

        close.onclick = function close() {
            div.style.display = "none";
        }

        window.onclick = function close(e) {
            if (e.target == div) {
                div.style.display = "none";
            }
        }
</script>
</html>